/* Reset básico inicial */


/* Aplica o estilo a todos os elementos e aos pseudo-elementos ::after e ::before */
*,
*::after,
*::before {
    /* Define o tamanho para incluir padding, margins e bordas dentro da largura e altura */
    box-sizing: border-box;
}

/* Reset padding e margins de elementos em comum */
body,
h1,
h2,
h3,
p,
figure {
    margin: 0;
    padding: 0;
}

img {
    /* Deixar as imgs responsivas */
    max-width: 100%;
}

html {
    font-size: 14px;
}

body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    /* Remove sublinhado abaixo dos links */
    text-decoration: none; 
}

/* _______________________________________________ */
/* Header (Cabeçalho) */

h1, nav {
    /* Converte para maiúsculas */
    text-transform: uppercase;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 1.5rem; /* 14px (Declarado acima) * 1,5 = 21px */
}

h1 a {
    color: white;
    background-color: black;
    /* 0.3rem * 14px = 4,2px (cima, baixo) */
    /* 1rem * 14px = 14px (esquerda, direita) */

    padding: 0.3rem 1rem;
    border-radius: 5px;
}

header {
    background-color: white;
    position: sticky; /* Fixa o Header */

    /* Mudar logo para (Lado direito) */
    margin-top: 20px;


    top:0; /* Ref. para fixar (Obrigatória) */
    z-index: 9999; /* Garante Header apareça a frente */
}

header .limitador {
    display: flex;

    /* Mudar logo para (Lado direito) */
    /* flex-direction: column; */

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.limitador {
    max-width: 1100px;
    width: 95vw; /* vw - View width */
    margin: auto; /* Centralizar na horizontal */
}

.menu {
    list-style: none; /* Tira o estilo da lista (bolinhas) */
    margin: 0;
    padding: 0;
}

nav {
    width: 65%; 

    /* Mudar logo para (Lado direito) */
    /* margin-top: 10px; */

}

/* Mudar logo para (Lado direito) */
/* ul {
    display: flex;
    justify-content: space-between;
} */

/* Mudar logo para (Lado direito) */
/* ul li a {
    padding-left: 10px;
} */


nav h2 {
    text-align: right;
}

h2 a {
    color: black;
}

.menu a {
    color: black;
    font-weight: bold; /* Negrito */
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.menu a:hover, 
.menu a:active {
    /* Defini estilos para os links quando o mouse passar por cima (hover) ou quando estão sendo clicados (active) */
    background-color: gainsboro;
}

/* _________________________________________________________________ */
/* Conteúdo principal "Main" Área destaque */

.destaque {
    /* Define o fundo da section com uma imagem e configura o efeito parallax */
    background-image: url(../imagens/fundo-destaque.jpg);
    height: 90vh;
    color: white;
    background-size: cover; /* Permite que a imagem cubra toda a tela */
    background-attachment: fixed; /* Cria o efeito parallax */
    text-align: center; /* Alinha o texto ao centro */
  
    /* Flexbox para centralizar conteúdo */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
  }
  
  .destaque h2 {
    /* Define um tamanho de fonte responsivo usando a função clamp */
    font-size: clamp(2rem, 8vw, 7rem); /* Deixa o texto responsivo */
    animation-name: fadeIn; /* Cria a animação */
    animation-duration: 1.5s; /* Duração da animação */
  }
  
  .destaque p {
    /* Define o tamanho da fonte responsivo para o parágrafo */
    /* clamp(MIN, IDEAL, MAX) */
    font-size: clamp(1.6rem, 2vw, 4rem); /* Deixa o texto responsivo */
    animation: fadeIn 1.5s 1s backwards; /* Animação com atraso */
  }
  
  @keyframes fadeIn {
    /* Define uma animação chamada 'fadeIn' */
    
    /* Estado inicial da animação */
    from {
      opacity: 0; /* O elemento começa totalmente transparente */
    }
    
    /* Estado final da animação */
    to {
      opacity: 1; /* O elemento termina totalmente opaco */
    }
  }
  
  /* _________________________________________________________________ */
  /* Conteúdo Secundário "Section" Área de texto + 3 imagens*/
  
  .front-end,
  .localizacao {
    /* Centraliza o texto nos elementos com as classes .front-end e .localizacao */
    text-align: center;
  }
  
  section h2 {
    /* Centraliza o texto dos h2 dentro das sections e adiciona padding */
    text-align: center;
    padding: 1rem;
  }
  
  section p {
    /* Adiciona padding vertical nos parágrafos dentro das sections */
    padding: 0.5rem 0;
  }
  
  figure {
    /* Centraliza o conteúdo das figuras e define margens verticais */
    text-align: center;
    margin: 1rem 0;
  }

/* ____________________________________________ */
/* Área de história da Internet "Vídeo" */

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed; /* Cria o efeito parallax */
    background-size: cover;
    text-align: center;
    padding-bottom: 1rem;
}

.historia h2{
    color: #fff;
    text-shadow: #000 1px 1px 2px;
}

.historia iframe {
    max-width: 800px;
}

iframe {
    width: 100%;
    border: none;
    margin-bottom: 130px;
}

.contato {
    margin-bottom: 150px;
}


/* ____________________________________________ */
/* Media queries "Responsividade" */

@media screen and (min-width: 768px) {
    /* Estilos para telas maiores 768px (Desktop, TV...) */
    .menu {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .menu a {
        padding: 0 1rem;
        border-radius: 15px 0px 15px 0px ;
    }

    /* Mudar logo para (Lado direito) */
    /* h1 {
        margin-top: 10px;
    } */

    html {
        font-size: 18px;
    }
    header .limitador {
        height: 15vh;

        /* Mudar logo para (Lado direito) */
        /* display: flex;
        flex-direction: row-reverse; */

    }
    .destaque {
        height: 85vh;
    }
}
